header{
    background-color: orange;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 3px solid black;

}

.title{
    padding: 20px;
}
.header-buttons{
    padding: 20px;
}

button{
    padding: 10px 20px 10px 20px;
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#offerte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 150px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#text-content{
    margin-right: 30px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px;
}

#offImg {
    border: 3px solid black;
    border-radius: 20px;
}

#offImg img {
    border-radius: 20px;
}

#offDesc{
    display: flex;
    flex-direction: row;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-text{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

table {
  border-spacing: 60px;
}

td{
    border: 3px solid black;
    border-radius: 20px;
    padding-top: 20px;
}